/* Write your CSS here */
.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.item {
  color: #000000;
  font-family: 'Roboto';
  font-size: 20px;
}
.button {
  color: #ff0b37;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 10px;
  height: 35px;
  width: 70px;
  border-radius: 8px;
  border: 1px solid #ff0b37;
  cursor: pointer;
  outline: none;
}
